<ion-card class="card">
  <!--<img src="../../assets/imgs/sample.jpeg"/>-->
  <img src="{{post.image}}"/>
  <ion-card-title class="title">
    {{ post.title }}
  </ion-card-title>
  <ion-card-content>
    <p>
      {{ post.description }}
    </p>
    <ion-buttons class="buttons" end>
      <button ion-button icon-only outline>
        <ion-icon ios="ios-share-outline" md="md-share"></ion-icon>
      </button>
      <button ion-button icon-only outline>
        <ion-icon ios="ios-play-outline" md="md-play"></ion-icon>
      </button>
    </ion-buttons>
  </ion-card-content>
</ion-card>

