<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button (click)="dismiss()" [disabled]="recording || isPlaying">Save</button>
    </ion-buttons>
    <ion-title>New Post</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <img [src]="base64Image" *ngIf="base64Image">
  <button ion-button full icon-only (click)="playAudio()" *ngIf="audio && !recording && !isPlaying">
    <ion-icon name="play"></ion-icon>
  </button>
  <button ion-button full icon-only (click)="pauseAudio()" *ngIf="audio && isPlaying">
    <ion-icon name="pause"></ion-icon>
  </button>

  <ion-fab center bottom class="record-container">
    <button ion-fab class="record-button" (click)="startRecord()" *ngIf="!recording">
      <ion-icon ios="ios-mic-outline" name="mic" class="record-icon"></ion-icon>
    </button>
    <button ion-fab class="record-button" (click)="stopRecord()" *ngIf="recording">
      <ion-icon ios="ios-mic-outline" name="pause" class="record-icon"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
